@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/slick-carousel/slick/slick-theme.css';
@import '../../node_modules/font-awesome/css/font-awesome.css';
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
body {
  background: #f7f6f8;
}
.clr {
  clear: both;
}
.breadcrumbs {
  list-style: none;
  padding: 0;
}
.breadcrumbs__item {
  display: inline;
}
.breadcrumbs__item:after {
  content: "•";
  color: #999;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin: 13px;
  position: relative;
  bottom: -1px;
  left: 2px;
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.breadcrumbs__link {
  font-family: Roboto;
  color: #6e6e6e;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}
.breadcrumbs_main {
  margin: 31px 0 0 0;
}
.registry {
  float: left;
  width: 770px;
}
.registry .title {
  font-family: RobotoSlabBold;
  font-size: 32px;
  line-height: 33px;
  color: rgba(55,55,55,0.99);
}
.registry__title {
  margin: 42px 0 30px 0;
}
.registry .article {
  background: #fff;
  padding: 30px;
  margin-bottom: 20px;
}
.registry__text {
  font-family: RobotoSlab;
  font-size: 18px;
  line-height: 19px;
  color: #333;
  margin-bottom: 21px;
}
.registry__link {
  font-family: RobotoBold;
  font-size: 13px;
  line-height: 14px;
  color: #999;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
.registry__link:hover {
  color: #444;
}
.registry__link:hover .fa {
  color: #444;
}
.registry__link .fa {
  color: #bba162;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 8px;
}
.sidebar {
  float: right;
  width: 372px;
}
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
}
.menu__item {
  background-color: #355aa8;
  display: block;
  margin: 0 2px 2px 0;
  text-align: center;
  text-decoration: none;
  height: 166px;
  width: 184px;
}
.menu__item:nth-child(odd) {
  background-image: url("../img/general/down.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position-x: -30px;
}
.menu__item:nth-child(odd):hover {
  background-image: none;
}
.menu__item:nth-child(even) {
  background-image: url("../img/general/up.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position-x: -30px;
}
.menu__item:nth-child(even):hover {
  background-image: none;
}
.menu__item .icon {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 18px;
}
.menu__item .menu__title {
  font-family: RobotoSlabBold;
  color: #fff;
  font-size: 15.98px;
  line-height: 18px;
  -webkit-transform: scaleY(1.0014);
      -ms-transform: scaleY(1.0014);
          transform: scaleY(1.0014);
}
.institutes {
  background: #fff;
  margin-top: 31px;
  width: 100%;
}
.institutes__title {
  border-bottom: 1px solid #eeedee;
  font-family: RobotoSlabBold;
  color: #333;
  font-size: 18px;
  line-height: 66px;
  text-align: center;
  width: 100%;
}
.institutes__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 7px 0;
  height: 113px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.institutes__item:hover .institutes__name {
  color: #000;
}
.institutes__item:nth-child(2) {
  border-right: 1px solid #eeedee;
  padding: 0 23px 0 15px;
}
.institutes__item:nth-child(2) .institutes__name {
  padding-left: 8px;
}
.institutes__item:nth-child(3) {
  border-right: 1px solid #eeedee;
  padding: 0 21px 0 23px;
}
.institutes__item:nth-child(3) .institutes__name {
  padding-left: 16px;
}
.institutes__item:nth-child(4) {
  border-top: 1px solid #eeedee;
  margin: 0;
  width: 100%;
}
.institutes__item:nth-child(4) .institutes__name {
  padding-left: 23px;
}
.institutes__logo {
  float: left;
}
.institutes__name {
  float: left;
  font-family: RobotoMedium;
  color: #333;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  -webkit-transform: scaleX(1.0007);
      -ms-transform: scaleX(1.0007);
          transform: scaleX(1.0007);
}
.gosportals {
  background: #fff;
  margin: 90px 0 47px 0;
}
.gosportals .header {
  padding: 24px;
  border-bottom: 1px solid #eeedee;
}
.gosportals .header .gosportals__title {
  float: left;
  font-family: RobotoSlabBold;
  color: #333;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
.gosportals .slider {
  padding: 29px 0 31px 38px;
}
.gosportals .slider__item {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.gosportals .slider__item:hover .slider__img {
  margin-top: 19px;
  margin-bottom: 0;
}
.gosportals .slider__item:hover .slider__name {
  display: none;
}
.gosportals .slider__img {
  margin: 0 auto;
  margin-bottom: 19px;
}
.gosportals .slider__name {
  font-family: RobotoMedium;
  color: #333;
  font-size: 13px;
  line-height: 16px;
  -webkit-transform: scaleX(1.0007);
      -ms-transform: scaleX(1.0007);
          transform: scaleX(1.0007);
}
.gosportals .slider__prev,
.gosportals .slider__next {
  border: 1px solid #dedede;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: -65px;
  right: 8px;
  text-align: center;
  height: 49px;
  width: 49px;
}
.gosportals .slider__prev .fa,
.gosportals .slider__next .fa {
  color: #bba162;
  font-size: 2.45rem;
  line-height: 49px;
}
.gosportals .slider__prev {
  right: 61px;
}
