extends include/template

block title
  title registry
block description
  +description('registry')
block keywords
  +keywords('registry, some, keywords')

block css
  // build:css vendor.min.css


  // endbuild
  // build:css main.min.css
  +styles('css/main.css')
  +styles('css/font-awesome.css')
  +styles('css/fonts.css')
  // endbuild

block content
  .container
    +breadcrumbs('Главная', 'Реестры')(class = "breadcrumbs_main")

    section.registry
      h1.title.registry__title Реестры
      article.article
        .registry__text Реестр объектов инновационной инфраструктуры Ямало-Ненецкого автономного округа
        a.registry__link(href="#") Подробнее #[i.fa.fa-long-arrow-right]
      article.article
        .registry__text Реестр объектов инновационной инфраструктуры Ямало-Ненецкого автономного округа
        a.registry__link(href="#") Подробнее #[i.fa.fa-long-arrow-right]
      article.article
        .registry__text Реестр объектов инновационной инфраструктуры Ямало-Ненецкого автономного округа
        a.registry__link(href="#") Подробнее #[i.fa.fa-long-arrow-right]
      article.article
        .registry__text Реестр объектов инновационной инфраструктуры Ямало-Ненецкого автономного округа
        a.registry__link(href="#") Подробнее #[i.fa.fa-long-arrow-right]
      article.article
        .registry__text Реестр объектов инновационной инфраструктуры Ямало-Ненецкого автономного округа
        a.registry__link(href="#") Подробнее #[i.fa.fa-long-arrow-right]

    .sidebar
      .menu
        a.menu__item.menu__item_one(href="#")
          .menu__icon.menu__icon_reward
          .menu__title Конкурсы
        a.menu__item.menu__item_two(href="#")
          .icon
          .menu__title Закупки
        a.menu__item.menu__item_one(href="#")
          .icon
          .menu__title Результаты проверок
        a.menu__item.menu__item_two(href="#")
          .icon
          .menu__title Открытые данные
        a.menu__item.menu__item_one(href="#")
          .icon
          .menu__title Услуги
        a.menu__item.menu__item_two(href="#")
          .icon
          .menu__title Обращение граждан

    .clr



block scripts
  //build:js vendor.min.js
  +scripts('')
  // endbuild
  //build:js main.min.js
  +scripts('js/main.js')
  // endbuild