extends include/template

block title
  title registry
block description
  +description('registry')
block keywords
  +keywords('registry, some, keywords')

block css
  +styles('css/main.css')
  +styles('css/font-awesome.min.css')
  +styles('css/fonts.css')
  +styles('css/slick-theme.min.css')
  +styles('css/slick.min.css')

block content
  .container
    +breadcrumbs('Главная', 'Реестры')(class = "breadcrumbs_main")

    section.registry
      h1.title.registry__title Реестры
      article.article
        .registry__text Реестр объектов инновационной инфраструктуры Ямало-Ненецкого автономного округа
        a.registry__link(href="#") Подробнее #[i.fa.fa-long-arrow-right]
      article.article
        .registry__text Реестр объектов инновационной инфраструктуры Ямало-Ненецкого автономного округа
        a.registry__link(href="#") Подробнее #[i.fa.fa-long-arrow-right]
      article.article
        .registry__text Реестр объектов инновационной инфраструктуры Ямало-Ненецкого автономного округа
        a.registry__link(href="#") Подробнее #[i.fa.fa-long-arrow-right]
      article.article
        .registry__text Реестр объектов инновационной инфраструктуры Ямало-Ненецкого автономного округа
        a.registry__link(href="#") Подробнее #[i.fa.fa-long-arrow-right]
      article.article
        .registry__text Реестр объектов инновационной инфраструктуры Ямало-Ненецкого автономного округа
        a.registry__link(href="#") Подробнее #[i.fa.fa-long-arrow-right]

    .sidebar
      .menu
        a(href="#").menu__item
          .icon
            include ../img/svg/badge.svg
          .menu__title Конкурсы
        a(href="#").menu__item
          .icon
            include ../img/svg/coins.svg
          .menu__title Конкурсы
        a(href="#").menu__item
          .icon
            include ../img/svg/check.svg
          .menu__title Конкурсы
        a(href="#").menu__item
          .icon
            include ../img/svg/man.svg
          .menu__title Конкурсы
        a(href="#").menu__item
          .icon
            include ../img/svg/list.svg
          .menu__title Конкурсы
        a(href="#").menu__item
          .icon
            include ../img/svg/communication.svg
          .menu__title Конкурсы
      .institutes
        .institutes__title Подведомственные учреждения
        a(href="#").institutes__item
          img.institutes__logo(src = "img/general/technopark.png")
          span.institutes__name Технопарк "Ямал"
        a(href="#").institutes__item
          img.institutes__logo(src = "img/general/centr.png")
          span.institutes__name Центр реабилитации
        a(href="#").institutes__item
          img.institutes__logo(src = "img/general/Arctica.png")
          span.institutes__name Центр изучения арктики
        .clr
    .clr
    .gosportals
      .header
        .gosportals__title Государственные порталы
        .clr
      .slider
        a(href="#").slider__item
          img(src="img/general/russia.png").slider__img
          .slider__name Президент России
        a(href="#").slider__item
          img(src="img/general/russia_yellow.png").slider__img
          .slider__name Правительство РФ
        a(href="#").slider__item
          img(src="img/general/russia_blue.png").slider__img
          .slider__name Работа в России
        a(href="#").slider__item
          img(src="img/general/gos-uslugi.png").slider__img
        a(href="#").slider__item
          img(src="img/general/nacreeest.png").slider__img
          .slider__name Национальный Реестр
        a(href="#").slider__item
          img(src="img/general/open-region.png").slider__img
          .slider__name Открытый Регион
        a(href="#").slider__item
          img(src="img/general/yamao.png").slider__img
          .slider__name ЯМАО
        a(href="#").slider__item
          img(src="img/general/russia.png").slider__img
          .slider__name Президент России

block scripts
  +scripts('js/libs.min.js')
  +scripts('js/scripts.js')